{% extends 'base/base.html' %}
{% block content %}


<div class="row">
    <div class="col-xl-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Model</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Variable</th>
                    <th scope="col">Función</th>
                    <th scope="col">Estado</th>
                    <th scope="col">N° Pin</th>
                </tr>
            </thead>
            <tbody>
                    {% for component in data %}
                <tr>
                    <th scope="row">{{component.id}}</th>
                    <td>{{component.model}}</td>
                    <td>{{component.marca}}</td>
                    <td>{{component.variable}}</td>
                    <td>{{component.function}}</td>
                    <td>{{component.state}}</td>
                    <td>{{component.num_pin}}</td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
    <div class="col-xl-10">
        <form action="{{url_for('register.component')}}" method="POST" >
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="model" placeholder="Model">
                </div>
            <div class="col">
                <input type="text" class="form-control"  name="marca" placeholder="Marca">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="variable" placeholder="Variable">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="function" placeholder="Función">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="state" placeholder="Estado">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="num_pin" placeholder="N° Pin">
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary">+</button>
            </div>
        </div>
    </form>
    </div>
</div>

{% endblock %}



