{% extends 'base/base.html'%}
{% block content %}

<div class="row">
    <div class="col-2">
         <form action="{{url_for('home.index')}}" method="POST">
            <select id="cultivo_select" name="num_cultivo" class="custom-select">
                {% for cultivo in cultivos %}
                <option value={{cultivo.id}}>{{cultivo.name}} </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-default">Ir</button>
        </form>
    </div>
    <div class="col-10">
        <!-- graficos -->
    <div class="container">	</div>
    </div>
</div>


<div class="container">
    {% for var in data %}
    <div class= "{{colores[var]}}" style="max-width: 18rem;">
            <div class="card-header">{{var}}</div>
    <div class="card-body">
        <h5 class="card-title">{{data[var][0]}}</h5>
    </div>
</div>
{% endfor %}


</div>



<script charset="utf-8">
$(function() {
console.log( {{select}} )
$("select option[value=" + {{select}} + "]").attr("selected",true);
})
</script>


{% endblock %}

