{% extends 'base/base.html'%}

{% block content %}

<div class="row">
    <div class="col-2">
        <!-- Form de cultivos-->    
        <form action="{{url_for('huerta.index')}}" method="POST">
            <select id="cultivo_select" name="num_cultivo" class="custom-select">
                {% for cultivo in cultivos %}
                <option value={{cultivo.id}}>{{cultivo.name}} </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-default">Ir</button>
        </form>
    </div>
    <div class="col-10">
        {% for act in actions %}
        <div class="row">
            <div class="col-5">
                <h4>{{act.model}}</h4>
            </div>
            <div class="col-3">
                <input id={{act.id}} name="btn-action" type="checkbox">
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!--img src="https://png.icons8.com/color/50/000000/water.png"-->
<!--img src="https://png.icons8.com/color/50/000000/fan.png"-->
<!--img src="https://png.icons8.com/color/50/000000/light.png"-->


{% for act in actions %}
<script>


var state = {};
state["1"] = "on";
state["0"] = "off";
$(function() {
    $(("#" + {{act.id}})).bootstrapToggle({
        on: 'Enabled',
        off: 'Disabled'
    });

    $(("#" + {{act.id}})).bootstrapToggle(state[{{act.state}}]);
    console.log(state[{{act.state}}]);

})
</script>
{% endfor %}


<script charset="utf-8">
$(function() {
console.log( {{select}} )
$("select option[value=" + {{select}} + "]").attr("selected",true);
})
</script>

<script charset="utf-8">

$(function () {
    $("input[name='btn-action']").change(function () {
       $.post("/huerta", {
       state:$(this).prop('checked'),
       id:$(this).attr('id'),
       cultivo_id:{{select}}
       })
       }); 
    console.log($(this).prop('checked'));
})    

</script>


{% endblock %}
